[submodule "themes/kaslaank"]
	path = themes/kaslaank
	url = https://github.com/M1cR0xf7/kaslaanka.git
[submodule "themes/hugo-tanka"]
	path = themes/hugo-tanka
	url = https://github.com/nanxstats/hugo-tanka.git
[submodule "themes/paige"]
	path = themes/paige
	url = https://github.com/willfaught/paige
[submodule "arabica"]
	path = arabica
	url = https://github.com/nirocfz/arabica
