{{define "content"}}

<div class="container">
    <article>
        <div class="header">            
            <h1 class="hero-title">Aviator Games official website</h1>
            <p class="hero-subtitle">popular game from Spribe, that has been popular since 2020!</p>
        </div>        
        
        <div class="hero">
            
            <p>The Aviator crash game is an innovative gambling entertainment that has a different gameplay from standard slots. In 10 seconds, you can win there an amount that exceeds the bet by an order. The user himself determines the amount of his prize money and the moment when he claims the winnings.</p>
                    
            <p>There are no reels and no winning combinations in Aviator. The gameplay is as simple and fun as possible, that is why this gambling machine quickly became popular among players.</p>

    <div class="text-article-block">
    <div class="two-cols">
        <div class="link-button">
            <a href="/en/play/">Play Aviator 1win</a>
        </div>
    <div class="link-button">
        <a href="/en/play/">Play Aviator pinup</a>
    </div>

    </div>

    <div class="two-cols">
        <div class="link-button">
            <a href="/en/play/">Play Aviator 1xbet</a>
        </div>
    <div class="link-button">
        <a href="/en/play/">Play Aviator Fairspin</a>
    </div>

    </div>
</div>
            
        </div>
        
        
    </article>
    <!-- Content Part END -->

    <article>
        
        
        <header>
            
            <h2>The essence of Aviator slot machine</h2>
            
        </header>
        
        
        <div class="text-article">
            <div class="text-img">
                <img src="/images/screen.webp" alt="Aviator game" width="854" height="480">
            </div>

            <p>The synopsis of the Aviator slot machine is as follows: the user predicts to what height the plane will be able to take off before it loses control. When the airplane rises into the air, the multiplier of the player’s bet raises. Before the plane gets out of control, you can claim your winnings by pressing the corresponding button at any time.</p>
            <p>The playing area shows the runway of the airfield and the black sky above it. Below are two panels where you should bet. The left one indicates the size of the bet (it is set for the next round of the game), the right one indicates (optionally) the coefficient, upon reaching which the winnings are automatically withdrawn and credited to the player account.</p>
            <p>When the player places bets, the airplane takes off. As it gains height, the coefficient grows (at the start, it is equal to one, which means the player will simply receive his bet back). At some random moment, the airplane loses control and flies into the distance. The player must withdraw the winnings in time (manually or by setting the automatic withdrawal coefficient). If you do not press the withdraw button before the airplane flies away, the bet is lost and the round is considered lost.</p>

        </div>
        
        
    </article>
    <!-- Content Part END -->
    
    <article>
        
        
        <header>
            
            <h2>Important points</h2>
            
        </header>
        
       <div class="text-article">

            <div class="text-img">
                <img src="/images/1.webp" alt="aviator for money" loading="lazy" width="854" height="480">
            </div>
            
            <p>The bet multiplier at the start of each round is x1, it increases as the aircraft gains height.</p>
            <p>The RTP of the slot machine is 97%.</p>
            <p>The coefficient at which the aircraft loses control and the round ends is determined randomly before the start of the round. The RNG is responsible for determining this coefficient.</p>
            <p>It is possible to make 2 different bets on one round. You can set an autocashout for both of them.</p>
            <p>The rounds start automatically; there is a pause between them so that the players have time to place their bets.</p>
</div>
    </article>
    
    
    
    <!-- Content Part END -->
    
    <article>
        
        
        <header>
            
            <h2>How to play Aviator</h2>
            
        </header>
        
       <div class="text-article">
            
        <p>After launching the Aviator slot machine, the user needs to place a bet. Before the start of another round, the random number generator determines the coefficient at which this round will end (visually, this is displayed by an airplane flying off the screen). After the start of the round, the plane takes off and gains height, while the coefficient increases in parallel with its rise. At any time, the players can click the "Cash Out" button, and then their bets will be multiplied by the current coefficient and credited to their account. At a random moment (determined by the RNG), the aircraft gets out of control and flies away. If the player has not withdrawn the winnings before it, his bet is lost and the round ends.</p>
        <p>To place a bet, press the button "Bet". Optionally, you can make 2 parallel bets per one round. To do this, click on the button "Plus" on the bets panel in the upper right.</p>
        <p>To withdraw your winnings, you must click "Cash Out". If the player manages to do this before the aircraft flies away, he will receive the amount of his bet multiplied by the coefficient of cashout.</p>
</div>
    </article>
    <!-- Content Part END -->    

    <article>
        
        
        <header>
            
            <h2>Automatic playing and automatic withdrawal of winnings</h2>
            
        </header>
        
        
        <div class="text-article">
            <div class="text-img">
                <img src="/images/3.webp" alt="where to find the aviator game" loading="lazy" width="854" height="480">
            </div>
        
            <p>The Aviator features an autoplay mode. Player can activate it in the menu on the control panel by clicking "Auto" button. After pressing it, in each next round, the same amount of money will be put on the stake.</p>

            <p>You can withdraw winnings during regular or autoplay game manually using the "Cash out" button or automatically via "Autocashout" button. After clicking the latter, the winnings are withdrawn automatically when the coefficient reaches the user-specified level.</p>

        </div>
        
        
    </article>
    <!-- Content Part END -->

    <article>
        
        
        <header>
            
            <h2>Fair play in the Aviator game</h2>
            
        </header>
        
        
        <div class="text-article">
            <p>One hundred percent fairness of the game is achieved due to the fact that the result of any round is calculated not on the casino server. A special mechanism for checking any result is provided.</p>
            <p>At the top of the game screen player will find a line with the latest odds. When you click on any of these coefficients, you can see the seeds (of three players and the server), the total hash and the result of this round. Using a calculator, the player can check the hash and make sure that it is correct.</p>

        </div>
        
    </article>
    <!-- Content Part END -->

    <article>
        <header>
            
            <h2>Aviator chat</h2>
            
        </header>
        <div class="text-article">
            
            <p>On the right side of the interface player can find the in-game chat. There player can communicate with other users who are currently playing Aviator in the same casino.</p>
            <p>The chat shows information about the current highest winnings as well.</p>
</div>
        

        
        
    </article>
    <!-- Content Part END -->
    
    <article>
        
        
        <header>
            
            <h2>FAQ</h2>
            <p>answers to the most common questions about the Aviator</p>

        </header>
        
        
        <div class="text-article">
            
            <div class="text-img">
                <img src="/images/2.webp" alt="fair play aviator" loading="lazy" width="854" height="480">
            </div>
            
            
            <h3>1. How long is one round in Aviator?</h3>
            <p>An average round in Aviator lasts just 10-25 seconds. The duration depends on how high the plane takes off and, accordingly, the coefficient will increase.</p>
            
            <h3>2. Can I play Aviator for free?</h3>
            <p>The aviator game features demo mode that allows you to play for free with virtual money. It helps to familiarize yourself with the game and discover its possibilities.</p>
        
            <h3>3. What is the coefficients spread in Aviator?</h3>
            <p>The lowest coefficient in the game is x1 when the plane takes off immediately after the start of the round. It appears about 1 time per 50 games. The highest coefficient is x200. It appears on average every 90 minutes.</p>

        
        </div>
        
    </article>                     
    
</div>


{{end}}