{{define "content"}}

<div class="container">
    <article>
        <div class="header">            
            <h1 class="hero-title">Официальный сайт Aviator Games</h1>
            <p class="hero-subtitle">Популярная разработка Spribe, не теряющая востребованность с 2020 года!</p>
        </div>        
        
        <div class="hero">
            
            <p>Краш-игра Aviator – инновационное азартное развлечение, обладающее отличающимся от стандартных слотов игровым процессом. Здесь за десяток секунд можно выиграть сумму, на порядок превышающую ставку. Пользователь сам определяет величину своих призовых и момент, когда ему забирать выигрыш.</p>
        
            <p>В Авиаторе нет барабанов и составления призовых комбинаций. Игровой процесс максимально простой и увлекательный, благодаря чему автомат быстро стал популярным среди игроков.</p>

    <div class="text-article-block">
    <div class="two-cols">
        <div class="link-button">
        <a href="/play/">Играть в Авиатор 1win</a>
    </div>
    <div class="link-button">
        <a href="/play/">Играть в Авиатор pinup</a>
    </div>

    </div>

    <div class="two-cols">
        <div class="link-button">
        <a href="/play/">Играть в Авиатор 1xbet</a>
    </div>
    <div class="link-button">
        <a href="/play/">Играть в Авиатор Fairspin</a>
    </div>

    </div>
</div>
            
        </div>
        
        
    </article>
    <!-- Content Part END -->

    <article>
        
        
        <header>
            
            <h2>Суть игрового автомата Авиатор</h2>
            
        </header>
        
        
        <div class="text-article">
            <div class="text-img">
                <img src="/images/screen.webp" alt="авиатор игра" width="854" height="480">
            </div>

            <p>Сюжет автомата Aviator следующий: пользователю предлагается спрогнозировать до какой высоты сумеет подняться в воздух самолет до того, как потеряет управление. При подъеме аэроплана в воздух растет коэффициент умножения сделанной игроком ставки. До того, как самолет выйдет из-под контроля, в какой-угодно момент может забрать выигрыш, нажав соответствующую кнопку.</p>
            <p>На игровом поле изображена взлетная полоса аэродрома и черное небо над ней. Ниже располагаются два поля, где следует делать ставку.  указания ставок. В левом указывается размер ставки (выставляется на следующий раунд игры), в правом указывается (не обязательно) коэффициент, по достижению которого выигрыш в автоматическом порядке снимается и зачисляется игроку.</p>
            <p>Когда игрок сделает ставки, самолет взлетает. По мере набора им высоты растет коэффициент (при старте он равен единице, т. е. игрок просто получит свою ставку назад). В произвольный момент воздушное судно теряет управление и улетает вдаль. Игрок должен вовремя снять выигрыш (вручную или установив коэффициент автоматического вывода). Если не нажать кнопку снятия до того, как аэроплан улетит, ставка сгорает, а раунд считается проигранным.</p>
            
        </div>
        
        
    </article>
    <!-- Content Part END -->
    
    <article>
        
        
        <header>
            
            <h2>Важные моменты</h2>
            
        </header>
        
       <div class="text-article">

            <div class="text-img">
                <img src="/images/1.webp" alt="авиатор на деньги" loading="lazy" width="854" height="480">
            </div>
            
            <p>Коэффициент умножения ставки на старте каждого раунда равен х1, он увеличивается по мере набора самолетом высоты.</p>
            <p>RTP игрового автомата равен 97%.</p>
            <p>Коэффициент, при котором воздушное судно теряет управление, а раунд заканчивается, определяется случайным образом перед стартом раунда. За определение данного коэффициента отвечает ГСЧ.</p>
            <p>Есть возможность сделать 2 разные ставки на один раунд. По каждой из них можно настроить автокэшаут.</p>
            <p>Раунды стартуют автоматически, между ними есть пауза для того, чтобы игроки успели сделать ставки.</p>
        </div>
    </article>
    
    
    
    <!-- Content Part END -->
    
    <article>
        
        
        <header>
            
            <h2>Как играть в Aviator</h2>
            
        </header>
        
       <div class="text-article">
            
            <p>После запуска игрового автомата Авиатор пользователю нужно сделать ставку. Перед стартом очередного раунда генератор случайных чисел определяет коэффициент, при котором данный раунд завершится (визуально это отображается самолетом, улетающим за пределы экрана). После начала раунда самолет взлетает и набирает высоту, параллельно с его подъемом растет коэффициент. В любой момент игрок может нажать кнопку «Обналичить», после чего его ставка будет умножена на текущий коэффициент и зачислена на счет. В случайный момент (определяемый ГСЧ) воздушное судно выходит из-под контроля и улетает прочь. Если игрок до этого не снял выигрыш, его ставка сгорает, а раунд заканчивается.</p>
            <p>Для совершения ставки следует нажать кнопку с надписью «Ставка». При желании можно сделать 2 параллельные ставки на один раунд. Для этого нужно нажать на «Плюс», находящийся на панели, предназначенной для ставок, справа вверху.</p>
            <p>Чтобы вывести выигрыш, следует нажать «Обналичить». Если игрок успеет сделать это до того, как воздушное судно улетит, он получит сумму своей ставки, умноженной на коэффициент, при котором производился кэшаут.</p>
        </div>
    </article>
    <!-- Content Part END -->    

    <article>
        
        
        <header>
            
            <h2>Автоматическая игра и автоматическое снятие выигрышей</h2>
            
        </header>
        
        
        <div class="text-article">
            <div class="text-img">
                <img src="/images/3.webp" alt="где найти игру авиатор" loading="lazy" width="854" height="480">
            </div>
        
            <p>В Aviator предусмотрена автоигра активируется в меню на панели управления с помощью кнопки «Авто». После ее нажатия в каждом последующем раунде на кон выставляется та же сумма денег.</p>

            <p>Снимать выигрыши при обычной или автоигре можно вручную с помощью кнопки «Обналичить» или автоматически, для чего следует использовать кнопку «Автокешаут». При нажатии последней выигрыш выводится в автоматическом порядке, когда коэффициент достигает заданного пользователей уровня.</p>
            
        </div>
        
        
    </article>
    <!-- Content Part END -->

    <article>
        
        
        <header>
            
            <h2>Проверка честности игры в Авиаторе</h2>
            
        </header>
        
        
        <div class="text-article">
            <p>Стопроцентная честность игры достигается благодаря тому, что результат любого раунда просчитывается не на сервере казино, где размещен автомат. Каждый из результатов можно проверить, для этого предусмотрен специальный механизм.</p>
            <p>В верхней части игрового экрана находится строка с последними коэффициентами. При нажатии на любой из этих коэффициентов видны сиды (трех игроков и сервера), общий хеш и итог данного раунда. С помощью калькулятора игрок может проверить хеш и убедиться в том, что он правильный.</p>

        </div>
        
    </article>
    <!-- Content Part END -->

    <article>
        <header>
            
            <h2>Чат в Aviator</h2>
            
        </header>
        <div class="text-article">
            
           <p>Справа в интерфейсе расположен внутриигровой чат. В нем игроку доступно общение с другими пользователями, в данный момент играющими в Авиатор в том же казино.</p>
           <p>Здесь же в чате показывается информация о текущих наивысших выигрышах.</p>
        </div>
        

        
        
    </article>
    <!-- Content Part END -->
    
    <article>
        
        
        <header>
            
            <h2>FAQ</h2>
            <p>ответы на наиболее распространенные вопросы по Авиатору</p>
            
        </header>
        
        
        <div class="text-article">
            
            <div class="text-img">
                <img src="/images/2.webp" alt="игра авиатор вся правда" loading="lazy" width="854" height="480">
            </div>
            
            
            <h3>1. Сколько продолжительность 1 раунда в Авиаторе?</h3>
            <p>Один раунд в Aviator длится в среднем всего 10 — 25 секунд. Продолжительность зависит от того, насколько высоко взлетит самолет и, соответственно, вырастет коэффициент.</p>
            
            <h3>2. Можно ли играть бесплатно в Aviator?</h3>
            <p>В игре Авиатор есть демо-режим, позволяющий играть бесплатно на виртуальные кредиты. Это предоставляет возможность освоиться с игрой и изучить ее возможности.</p>
        
            <h3>3. Какой разброс коэффициентов в Авиаторе?</h3>
            <p>Наименьшим коэффициентом в игре является х1, когда самолет улетает сразу после старта раунда. Выпадет он примерно 1 раз на 50 игр. Наивысший коэффициент — х200. Появляется он в среднем раз в полтора часа.</p>
            
        
        </div>
        
    </article>                     
    
</div>


{{end}}