{{define "content"}}

<div class="container">
    <article>
        <div class="header">
            <h1 class="hero-title">Где скачать Авиатор?</h1>
            <p class="hero-subtitle">Популярная разработка Spribe, не теряющая востребованность с 2020 года!</p>
        </div>
        
        <div class="hero">
            <p>Игра Авиатор доступна клиентам не только в браузерной версии, но и в виде приложения. Наличие софта позволяет клиентам играть в любое время в Авиатор на деньги, не привязываясь к персональному компьютеру.</p>
            <p>Игра представлена практически во всех крупных онлайн-казино, которые позволяют скачать Авиатор на смартфоны и планшеты, функционирующие на разных операционных системах.</p>
            <p>Чтобы удостовериться в возможности загрузки софта на свое устройство, посетителям необходимо перейти на сайт онлайн-казино, найти ссылку для скачивания игры Авиатор или обратиться за консультацией к операторам службы технической поддержки клуба.</p>
            <div class="link-button">
                <a href="https://aviatorcv.com/play/">Играть в Авиатор</a>
            </div>

            <div class="text-article-block">
            <div class="two-cols">
                <p>Приложение</p>
                <p>●    Нужно скачать на свое устройство</p>
                <p>●    Занимает определенное место</p>
                <p>●    Требует обновления</p>
                <p>●    Софт безопасный</p>
                <p>●    ПО требовательно к конфигурации</p>

            </div>
            <div class="two-cols">
                <p>Мобильная версия</p>
                <p>●    Не требует скачивания софта</p>
                <p>●    Работает даже на устаревших моделях</p>
                <p>●    Не требует обновления</p>
                <p>●    Корректно работает на любой операционной системе</p>

            </div>
        </div>
        </div>
        
        
    </article>

    <!-- article-2  -->
    <article>
        <div class="header">
            <h2  class="main-title" itemprop="name">Как скачать игру Авиатор на Android?</h2>
        </div>
        
        <div class="text-article" itemprop="description">
            <p>Практически все популярные интернет-казино предлагают скачать Авиатор на Android. Прежде, чем начать загрузку, посетителям необходимо разрешить в настройках своего устройства пункт, позволяющий скачивать софт с неизвестных источников, а затем загрузить установочный файл игры Авиатор. Затем клиентам нужно следовать такой инструкции:</p>
        </div>
            <ul class="text-list">
                     <li>1. Перейти на сайт любимого онлайн-казино</li>
                     <li>2. Найти кнопку для загрузки программного обеспечения или запросить ссылку у операторов техподдержки</li>
                     <li>3. Выбрать место, где будет сохранен установочный файл</li>
                     <li>4. Запустить установку софта на смартфоне и дождаться ее автоматического завершения</li>
            </ul>
        <div class="text-article">
            <p>Если клиент все сделал правильно, но приложение не было установлено, стоит обратиться за консультацией к операторам техподдержки или посмотреть в отзывах игроков детали скачивания Авиатор.</p>
            
        </div>
        
        
    </article>


</div>

{{end}}