<!DOCTYPE html>
<html lang="uz">

{{partial "head.uz" .}}

<body >
<nav class="nav">
    <div class="container">
        <a class="logo" href="/uz">
            Авиа<span class="logo-span">тор</span>
        </a>

        <button class="menu-btn" aria-label="Menu"></button> 

<div class="navbar-list" itemscope itemtype="http://schema.org/SiteNavigationElement">
                <meta itemprop="name" content="Menu">
<ul>
    <li>
        {{range where .Site.RegularPages "Type"  "page"}}
    
        <a href="{{.Permalink}}" class="navbar-item">
            {{.Title}}
        </a>
        {{end}} 
    </li>
       
    <li>
        {{range where .Site.RegularPages "Type"  "reviews"}}
                    
        <a href="{{.Permalink}}" class="navbar-item">
            {{.Title}}
        </a>
    {{end}}
    </li>
    <li>
        {{range where .Site.RegularPages "Type"  "strategies"}}
                    
        <a href="{{.Permalink}}" class="navbar-item">
            {{.Title}}
        </a>
    {{end}}
    </li>
    <li>
        {{range where .Site.RegularPages "Type"  "download"}}
                    
        <a href="{{.Permalink}}" class="navbar-item">
            {{.Title}}
        </a>
        {{end}}
    </li>
    <li>
        {{range where .Site.RegularPages "Type" "play"}}
                    
        <a href="{{.Permalink}}" class="navbar-item">
        {{.Title}}
        </a>
        {{end}}
    </li>
    <!-- class="navbar-lang" -->
                <li >
                    <span class="with-angle">🇺🇿 UZ</span>
                    <ul class="dropdown langs ">
                        <li><a href="/">🇷🇺 RU</a></li>
                        <li><a href="/de/">🇩🇪 DE</a></li>
                        <li><a href="/kz/">🇰🇿 KZ</a></li>
                    </ul>
                </li>
</ul>


 </div>
    </div>
</nav>

{{block "content" .}}{{end}}
{{block "footer.uz" .}}{{end}}

<script>
    $(document).ready(function(){
    
    $('body').append('<div class="cover"></div>');
     	
   	$('.menu-btn').click(
		function() {
            $('.navbar-list').slideToggle();
            $(this).toggleClass('active');
            $('.cover').fadeToggle();
            	});
            	
   	$('.with-angle').click(
		function() {
		    $('.dropdown').hide();
		    $('.with-angle').removeClass('active');
            $(this).next('.dropdown').slideToggle();
            $(this).toggleClass('active');
            $('.cover').show();
            	});
     

        

        $(window).scroll(function() {
            if($(this).scrollTop() != 0) {
                $('#scroll-top').fadeIn();
            } else {
                $('#scroll-top').fadeOut();
            }
        });
        $('#scroll-top').click(function() {
            $('body,html').animate({scrollTop:0},800);
        });
    
        
// готове
});

$(document).click(function(event) {      	
   	$('.cover').click(
		function() {
            $('.navbar-list-55, .dropdown').hide();
            $('.with-angle, .menu-btn').removeClass('active');
            $('.cover').fadeOut();
            	});
});


</script>
</body>
</html>