{{define "content"}}
<article>                                 
    <header>
        
        <h1 class="hero-title">Игра Авиатор</h1>
        
        <p class="hero-subtitle">Популярная разработка Spribe, не теряющая востребованность с 2020 года!</p>
        
    </header>
    <div class="hero">
        <p>Одной из самых популярных разработок компании Spribe является игра Авиатор. Она занимает лидирующее место в рейтинге востребованных развлечений в онлайн-казино, а в 2020 году игра Авиатор стала «Выбором игроков» в онлайн-клубах. Разработка отличается простейшей графикой, минимальными опциями, примитивным управлением, возможностью играть на любом устройстве.</p>
    
        <p>Лучшие онлайн-казино предлагают запустить Авиатор в режиме на реальные деньги и в демо-версии, используя персональные компьютеры, мобильную версию или скачиваемое приложение. Множество положительных отзывов игроков подтверждают простоту и удобство игрового процесса, позволяют более детально разобраться со всеми особенностями игры и подобрать собственную тактику.</p>

        <div class="link-button">
            <a href="">Играть в Авиатор</a>
        </div>
        
        <div class="text-img">
            <img src="images/screen.webp" alt="авиатор игра" width="854" height="480">
        </div>
    </div>
</article>
{{end}}