{{define "footer.kz"}}
<footer class="footer">
    <div class="container">

        <ul class="footer-list">
            
            <li>
                <img src="/images/footer/18-gamble.webp" alt="18-gamble" loading="lazy" width="300" height="82">
            </li>
            
            <li>
                <img src="/images/footer/be-gambleaware.webp" alt="be-gambleaware" loading="lazy" width="300" height="53">
            </li>
            
            <li>
                <img src="/images/footer/curacao.webp" alt="curacao" loading="lazy" width="300" height="125">
            </li>
            
            <li>
                <img src="/images/footer/kahnawake.webp" alt="kahnawake" loading="lazy" width="291" height="74">
            </li>
            
            <li>
                <img src="/images/footer/mga.webp" alt="mga" loading="lazy" width="300" height="75">
            </li>
                
        </ul>
        
        <div class="footer-desc"> 

            <p>&copy; Aviatorcv.com</p>
            <p>Aviatorcv.com жауапты ойынға ұмтылады және тиісті реттеуші органдармен ынтымақтасады. Платформа келушілерге саналы таңдау жасауға мүмкіндік беретін барлық қажетті ақпаратты қамтиды. Естеріңізге сала кетейік, онлайн казинода ойнау - бұл бос уақытты өткізу тәсілі, бірақ табыс көзі емес.</p>
            <p>Aviatorcv.com сайтының мақсаты кез келген казиноны алға жылжыту емес. Біз ақпараттық ойын-сауық сипатындағы ақпараттар береміз. Бұл ойнауға шақыру емес, танымал краш- ойынның сипаттамасы. Aviatorcv.com сайтында жарияланған сілтемелер үшінші тарап ресурстарына әкеледі, олар үшін біз жауапкершілік алмаймыз.</p>
        
        </div>
        
</footer>

        <!-- Scroll -->
        <button id="scroll-top" title="Go To TOP">hello</button>
                
        <script src="/js/jquery.min.js"></script>
        
        <script src="/content/js/functions.js"></script>
        
        <link href="/css/line-awesome.min.css" rel="stylesheet">

        <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-08SXK89QZ2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-08SXK89QZ2');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(91532740, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/91532740" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

{{end}}

