<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aviator ist ein beliebtes Spiel, das von Spribe entwickelt wurde und seit 2020 auf dem Markt ist - aviatorcv.com</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-touch-fullscreen" content="YES">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="description" content="Merkmale des Designs, Starten des Spiels Aviator von verschiedenen Geräten. Aviator wird von den Kunden geschätzt">
    <link rel="canonical" href="https://aviatorcv.com/de/">
    <link rel="alternate" hreflang="x-default" href="https://aviatorcv.com/"/>
    <link rel="alternate" hreflang="de" href="https://aviatorcv.com/de/"/>
    <link rel="alternate" hreflang="kk" href="https://aviatorcv.com/kz/"/>
    <link rel="alternate" hreflang="uz" href="https://aviatorcv.com/uz/"/>
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Aviator ist ein beliebtes Spiel, das von Spribe entwickelt wurde und seit 2020 auf dem Markt ist - aviatorcv.com">
    <meta property="og:description" content="Merkmale des Designs, Starten des Spiels Aviator von verschiedenen Geräten. Aviator wird von den Kunden geschätzt">
    <meta property="og:url" content="https://aviatorcv.com/">
    <meta property="og:site_name" content="Aviator ist ein beliebtes Spiel, das von Spribe entwickelt wurde und seit 2020 auf dem Markt ist - aviatorcv.com">
    <meta property="article:modified_time" content="2022-11-26T11:54:49+00:00">
    <meta property="og:image" content="https://aviatorcv.com/images/screen.webp">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:label1" content="Ungefähre Zeit zum Lesen">
    <meta name="twitter:data1" content="18 Minuten">
    <link rel="apple-touch-icon" sizes="180x180" href="https://aviatorcv.com/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://aviatorcv.com/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://aviatorcv.com/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://aviatorcv.com/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://aviatorcv.com/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://aviatorcv.com/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="https://aviatorcv.com/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Aviator ist ein beliebtes Spiel, das von Spribe entwickelt wurde und seit 2020 auf dem Markt ist - aviatorcv.com",
      "alternateName": "Spiel Aviator-Website",
      "url": "https://aviatorcv.com/de/",
      "logo": "https://aviatorcv.com/images/screen.webp"
    }
    </script>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://aviatorcv.com/de/"
      },
      "headline": "Aviator ist ein beliebtes Spiel, das von Spribe entwickelt wurde und seit 2020 auf dem Markt ist - aviatorcv.com",
      "description": "Merkmale des Designs, Starten des Spiels Aviator von verschiedenen Geräten. Aviator wird von den Kunden geschätzt",
      "image": "https://aviatorcv.com/images/screen.webp",  
      "author": {
        "@type": "Person",
        "name": "Sergej Schukow",
        "url": "https://aviatorcv.com/de/"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "Aviator ist ein beliebtes Spiel, das von Spribe entwickelt wurde und seit 2020 auf dem Markt ist - aviatorcv.com",
        "logo": {
          "@type": "ImageObject",
          "url": "https://aviatorcv.com/images/screen.webp"
        }
      },
      "datePublished": "2021-04-27",
      "dateModified": "2022-11-26"
    }
    </script>
    <script type=application/ld+json>
     {
        "@context": "http://schema.org",
        "@type": "Game",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://aviatorcv.com"
        },
        "name": "Aviator",
        "headline": "Aviator",
        "datePublished": "2021-12-28T22:11:17+03:00",
        "dateModified": "2022-09-12T10:47:22+03:00",
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5        ",
            "reviewCount": "1297",
            "bestRating": "5",
            "worstRating": "1"
        }
    }
    </script>
    
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- <link rel="stylesheet" href="css/line-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="css/main.css"> -->
    {{$style :=resources.Get "css/main.css"}}


  {{$components := readDir "assets/css/components"}}
  {{range $components}}

  {{$component := resources.Get (printf "css/components/%s" .Name) }}
  {{$style = slice $component $style | resources.Concat .Name}}
  {{end}}
  
   {{$style = $style | toCSS | minify | fingerprint}}
   <link rel="stylesheet" href="{{$style.Permalink}}">
   
    <title>{{.Site.Title}}</title>
</head> 